[submodule "cdup"]
	path = cdup
	url = https://github.com/artbek/cd-up.git
[submodule ".vim/plugin/bbuf"]
	path = .vim/plugin/bbuf
	url = https://github.com/artbek/Vim-Buffers.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
